<div class="container mt-5">
    <div class="card p-2">

        <div class="row">
            <div class="headding mt-5 mb-5">Add Food Item</div>
            <div class="col-6">

                <form #foodItemForm="ngForm" (ngSubmit)="addFoodItemsToMenu(menuId,foodItemForm)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>FoodItem Name</mat-label>
                        <input matInput placeholder="FoodItem Name" [(ngModel)]="foodItem.foodItemName"
                            name="foodItemName" required>
                            <mat-error *ngIf="foodItemForm?.controls['foodItemName']?.hasError('required')">Food Item Name is Required.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>FoodItem Description</mat-label>
                        <input matInput placeholder="FoodItem Description" [(ngModel)]="foodItem.foodItemDescription"
                            name="foodItemDescription" required>
                            <mat-error *ngIf="foodItemForm?.controls['foodItemDescription']?.hasError('required')">Food Item Description is Required.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>FoodItem Category</mat-label>
                        <select matNativeControl name="foodItemCategory" [(ngModel)]="foodItem.foodItemCategory" required>
                          <option value="veg">Veg</option>
                          <option value="nonveg">Non-Veg</option>
                        </select>
                        <mat-error *ngIf="foodItemForm?.controls['foodItemCategory']?.hasError('required')">Food Item Category is Required.</mat-error>
                      </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>FoodItem Price</mat-label>
                        <input matInput placeholder="FoodItem Price" [(ngModel)]="foodItem.foodItemPrice"
                            name="foodItemPrice" required>
                            <mat-error *ngIf="foodItemForm?.controls['foodItemPrice']?.hasError('required')">Food Item Price is Required.</mat-error>
                    </mat-form-field>
                    <div align="end">
                        <button mat-flat-button color="accent" style="margin-right: 5px">Clear</button>
                        <button type="submit" *ngIf="isNewFoodItem" mat-stroked-button [disabled]="foodItemForm?.invalid">Add
                            FoodItem</button>
                        <button type="submit" *ngIf="!isNewFoodItem" mat-stroked-button color="primary" [disabled]="foodItemForm?.invalid">Update
                            FoodItem</button>
                    </div>
                </form>

            </div>
            <div class="col-6">
                <div>
                    <div class="dropzone" appDrag (files)="fileDropped($event)">
                        <div class="text-wrapper">
                            <div class="centered p-5">
                                Drag and drop Food Item Images or
                                <a (click)="selectFile.click()" class="browse_button">Browse</a>
                                Images
                            </div>

                        </div>
                    </div>



                    <input multiple type="file" style="display: none;" #selectFile value="select"
                        (change)="onFileSelected($event)">
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of foodItem.foodItemImages; let i=index;">
                                <div style="position: relative">
                                    <span class="btn-remove-image" (click)="removeImage(i)">x</span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>