<div *ngIf="isCartItemPresent()" class="container mt-5">
    <div align="right" class="mb-3">
        <button (click)="checkout()" color="accent" mat-raised-button>Checkout</button>
    </div>
    <table mat-table
           [dataSource]="cartDetails"
           class="">

        <ng-container matColumnDef="Name">
            <th mat-header-cell
                *matHeaderCellDef><b> Name</b> </th>
            <td mat-cell
                *matCellDef="let element"> {{element.foodItem.foodItemName}} </td>
        </ng-container>

        <ng-container matColumnDef="Description">
            <th mat-header-cell
                *matHeaderCellDef><b> Description</b> </th>
            <td mat-cell
                *matCellDef="let element"> {{element.foodItem.foodItemDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="Price">
            <th mat-header-cell
                *matHeaderCellDef><b> Price</b> </th>
            <td mat-cell
                *matCellDef="let element"> {{element.foodItem.foodItemPrice}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="Discounted Price">
            <th mat-header-cell
                *matHeaderCellDef><b> Discounted Price</b> </th>
            <td mat-cell
                *matCellDef="let element"> {{element.foodItem.foodItemPrice}} </td>
        </ng-container> -->

        <ng-container matColumnDef="Action">
            <th mat-header-cell
                *matHeaderCellDef><b> Action</b> </th>
            <td mat-cell
                *matCellDef="let element"> 
                <button mat-raised-button (click)="delete(element.cartId)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div *ngIf="!isCartItemPresent()" (click)="addFoodItem()" class="clickzone mt-10">
    <div class="text-wrapper">
        <div class="centered">
          <h1>No Food Items in the cart</h1><br>
            Add food Items to cart.
        </div>
  
    </div>
  </div>