<div class="container mt-5" style=" margin-bottom: 50px;">
    <mat-form-field appearance="fill" class="w-25">
        <mat-label>Search Order by User</mat-label>
        <input matInput
               #searchkeyword
               (keyup)="searchByKeyword(searchkeyword.value)"
               name="searchKey"
               id="searchKey"
               placeholder="Search Order">
               <mat-icon matSuffix>search</mat-icon>
        <mat-hint>Search order by user</mat-hint>
      </mat-form-field><br>
    <table mat-table
           [dataSource]="myOrderDetails"
           class="mt-5">

        <ng-container matColumnDef="Order Id">
            <th mat-header-cell
                *matHeaderCellDef><b> Order Id</b> </th>
            <td mat-cell
                *matCellDef="let element"> {{element.orderId}} </td>
        </ng-container>

        <ng-container matColumnDef="Name">
            <th mat-header-cell
                *matHeaderCellDef><b> Name</b> </th>
            <td mat-cell
                *matCellDef="let element"> {{element.orderFullName}} </td>
        </ng-container>

        <ng-container matColumnDef="Address">
            <th mat-header-cell
                *matHeaderCellDef><b> Address</b> </th>
            <td mat-cell
                *matCellDef="let element"> {{element.orderFullOrder}} </td>
        </ng-container>

        <ng-container matColumnDef="FoodItem">
            <th mat-header-cell
                *matHeaderCellDef><b> FoodItem</b> </th>
            <td mat-cell
                *matCellDef="let element"> {{element.foodItem.foodItemName}} </td>
        </ng-container>

        <ng-container matColumnDef="Contact No.">
            <th mat-header-cell
                *matHeaderCellDef> <b>Contact No.</b> </th>
            <td mat-cell
                *matCellDef="let element"> {{element.orderContactNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="Amount">
            <th mat-header-cell
                *matHeaderCellDef> <b>Amount </b></th>
            <td mat-cell
                *matCellDef="let element"> {{element.orderAmount}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
            <th mat-header-cell
                *matHeaderCellDef> <b>Status </b></th>
            <td mat-cell
                *matCellDef="let element"> {{element.orderStatus}} </td>
        </ng-container>


        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="text-center mt-5" style="padding-bottom: 100px;" *ngIf="showLoadButton">
        <button type="button" mat-raised-button color="accent" (click)="loadMoreProduct()"> Load more</button>
      </div>
</div>