<div class="container mt-5">
    <div class="card p-5">
        <h1 class="text-center"><b>My Profile</b></h1><br>
        <div class="profile">
            <!-- Username section -->
            <div class="profile-section">
              <div class="static-info">
                <strong>Username:</strong>
              </div>
              <div class="form-fields">
                <input type="text" [(ngModel)]="userName" [disabled]="!isEditing"/>
              </div>
            </div>
        
            <!-- Name section -->
            <div class="profile-section">
                <div class="static-info">
                  <strong>Name:</strong>
                </div>
                <div class="form-fields">
                  <input type="text" [(ngModel)]="name" [disabled]="!isEditing"/>
                </div>
              </div>
          
            <!-- Email section -->
            <div class="profile-section">
              <div class="static-info">
                <strong>Email:</strong>
              </div>
              <div class="form-fields">
                <input type="text" [(ngModel)]="emailId" [disabled]="!isEditing"/>
              </div>
            </div>
          
            <!-- Phone Number section -->
            <div class="profile-section">
              <div class="static-info">
                <strong>Phone Number:</strong>
              </div>
              <div class="form-fields">
                <input type="text" [(ngModel)]="phoneNumber" [disabled]="!isEditing"/>
              </div>
            </div>
          </div>
        
        
    </div>
</div>