mat-grid-tile {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.image-container {
    position: relative;
    height: 300px;
}

.home-page-product-image {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.mat-form-field {
    /* background-color: white; */
    border-radius: 5px;
  }

.tile{
    background-color: white;
}

.toggle-button-container {
    display: flex;
    justify-content: flex-end;
  }

.toggle-button {
    width: 100px; /* Adjust the width as needed */
  }

.toggle-button.mat-button-toggle-checked {
    background-color: white; /* Set the background to transparent */
    color: #000; /* Set the text color to your preferred color */
  }

.toggle-button.mat-button-toggle-focus {
    box-shadow: none;
  }