<!-- <mat-grid-list cols="2" rowHeight="2:1">
   <mat-grid-tile>1</mat-grid-tile>
   <mat-grid-tile>2</mat-grid-tile>
   <mat-grid-tile>3</mat-grid-tile>
   <mat-grid-tile>4</mat-grid-tile>
 </mat-grid-list> -->


<div class="container mt-5">

   <mat-form-field appearance="fill" class="w-25">
      <mat-label>Search any Restaurant</mat-label>
      <input matInput #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)" name="searchKey" id="searchKey"
         placeholder="Search any Restaurant">
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Search Restaurant</mat-hint>
   </mat-form-field>

   <div class="card-container">
      <h1 class="card-heading">Famous foods you might like</h1>

      <div class="card" style="width: 10rem;">
         <div class="circle">
            <img src="assets/Images/Biryani.avif" class="card-img-top" alt="..." (click)="getAllRestaurantsForDish('Biryani')">
         </div>
         <div class="card-body">
            <h2 class="card-title">Biryani</h2>
         </div>
      </div>
      <div class="card" style="width: 10rem;">
         <div class="circle">
            <img src="assets/Images/Burger.avif" class="card-img-top" alt="..." (click)="getAllRestaurantsForDish('Burger')">
         </div>
         <div class="card-body">
            <h2 class="card-title">Burger</h2>
         </div>
      </div>
      <div class="card" style="width: 10rem;">
         <div class="circle">
            <img src="assets/Images/Dosa.avif" class="card-img-top" alt="..." (click)="getAllRestaurantsForDish('Dosa')">
         </div>
         <div class="card-body">
            <h2 class="card-title">Dosa</h2>
         </div>
      </div>
      <div class="card" style="width: 10rem;">
         <div class="circle">
            <img src="assets/Images/Chicken.webp" class="card-img-top" alt="..." (click)="getAllRestaurantsForDish('Chicken')">
         </div>
         <div class="card-body">
            <h2 class="card-title">Chicken</h2>
         </div>
      </div>

      <div class="card" style="width: 10rem;">
         <div class="circle">
            <img src="assets/Images/Thali.avif" class="card-img-top" alt="..." (click)="getAllRestaurantsForDish('Thali')">
         </div>
         <div class="card-body">
            <h2 class="card-title">Thali</h2>
         </div>
      </div>

   </div>

   <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10" class="" style="margin-bottom: 100px;">
      <h1 class="card-heading-rest">Famous restaurants around you</h1>
      <mat-grid-tile class="tile" *ngFor="let p of restaurantDetails">
         <div class="row">
            <div class="image-container">
               <img class="home-page-product-image" [src]="p.documents[0].url" alt="">
            </div>
            <div class="text-container mt-2">
               <div>
                  <h3 style="margin: 0%;"><b>{{p.restaurantName}}</b></h3>
               </div>
               <div style="margin-top: 0px;">
                  <p
                     style="white-space: inherit; height: 40px; width: 250px; overflow: hidden; text-overflow: ellipsis;">
                     {{p.restaurantAddress}}</p>
               </div>
               <div class="price row">
                  <!-- <div class="col-6 d-flex align-items-center">
                     <b style="height: 25px;">Rs. {{p.foodItemPrice}}</b>
                  </div> -->
                  <div class="col-12" style="text-align: center;">
                     <button type="button" mat-button color="accent" (click)="viewRestaurant(p.restaurantId)">View <i
                           class="fa-solid fa-arrow-right fa-sm"></i></button>
                  </div>


               </div>
            </div>
         </div>
      </mat-grid-tile>
   </mat-grid-list>

   <div class="text-center mt-5" style="padding-bottom: 100px;" *ngIf="showLoadButton">
      <button type="button" mat-raised-button color="accent" (click)="loadMoreProduct()"> Load more</button>
   </div>

   <div class="mt-5">

   </div>
</div>
