<div *ngIf="isOrderPresent()" class="container mt-5">

  <mat-form-field appearance="fill" class="w-25">
    <mat-label>Search Order by User</mat-label>
    <input matInput
           #searchkeyword
           (keyup)="searchByKeyword(searchkeyword.value)"
           name="searchKey"
           id="searchKey"
           placeholder="Search Order">
           <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Search order by user</mat-hint>
  </mat-form-field><br>

  <mat-button-toggle-group  aria-label="Font Style" class="mt-3">
    <mat-button-toggle value="All" (click)="toggleSort()" (click)="getAllOrdersByStatus('All')">All<mat-icon>swap_vert</mat-icon></mat-button-toggle>
    <mat-button-toggle value="Placed" (click)="toggleSort()" (click)="getAllOrdersByStatus('Placed')">Placed<mat-icon>swap_vert</mat-icon></mat-button-toggle>
    <mat-button-toggle value="Delivered" (click)="toggleSort()" (click)="getAllOrdersByStatus('Delivered')" >Delivered<mat-icon>swap_vert</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>

<table mat-table [dataSource]="dataSource" class="mt-3">

    <ng-container matColumnDef="Order Id">
      <th mat-header-cell *matHeaderCellDef> Order Id </th>
      <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="FoodItem Name">
      <th mat-header-cell *matHeaderCellDef> FoodItem Name </th>
      <td mat-cell *matCellDef="let element"> {{element.foodItem.foodItemName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.orderFullName}} </td>
    </ng-container>
  
    <!-- Address Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.orderFullOrder}} </td>
    </ng-container>

     <!-- Contact No. Column -->
     <ng-container matColumnDef="Contact No.">
        <th mat-header-cell *matHeaderCellDef> Contact No. </th>
        <td mat-cell *matCellDef="let element"> {{element.orderContactNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="Date and Time">
        <th mat-header-cell *matHeaderCellDef> Date and Time </th>
        <td mat-cell *matCellDef="let element"> {{element.orderCreatedAt}} </td>
      </ng-container>

      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.orderAmount}} </td>
      </ng-container>

       <!-- orderStatus Column -->
     <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
      </ng-container>
      

       <!-- Action Column -->
     <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
          <button *ngIf="element.orderStatus == 'Placed'" mat-flat-button color="accent" (click)="markAsDelivered(element.orderId)">Mark as Delivered</button>  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  

  <div class="text-center mt-5" style="padding-bottom: 100px;" *ngIf="showLoadButton">
    <button type="button" mat-raised-button color="accent" (click)="loadMoreProduct()"> Load more</button>
  </div>

  <div class="mt-5" >
       
  </div>
</div>
<div *ngIf="!isOrderPresent()" class="clickzone mt-10">
  <div class="text-wrapper">
      <div class="centered">
        <h1>No orders to display</h1><br>
          Your orders will appear here when you receive them
      </div>

  </div>

  
</div>