<div class="container mt-5">
    <div class="card p-3">
        <div class="row">
            <div class="col-6">

                <form #orderForm="ngForm"
                      (ngSubmit)="createTransactionAndPlaceOrder(orderForm)">

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Full name</mat-label>
                        <input matInput
                               placeholder="Full name"
                               [(ngModel)]="orderDetails.fullName"
                               name="fullName" required>
                               <mat-error *ngIf="orderForm?.controls['fullName']?.hasError('required')">Full Name is Required.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Full address</mat-label>
                        <input matInput
                               placeholder="Full address"
                               [(ngModel)]="orderDetails.fullAddress"
                               name="fullAddress" required>
                               <mat-error *ngIf="orderForm?.controls['fullAddress']?.hasError('required')">Full Address is Required.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Contact number</mat-label>
                        <input matInput
                               placeholder="Contact number"
                               [(ngModel)]="orderDetails.contactNumber"
                               name="contactNumber" required
                               pattern="[0-9]{10}">
                               <mat-error *ngIf="orderForm?.controls['contactNumber']?.hasError('required')">Contact Number is Required.</mat-error>
                               <mat-error *ngIf="orderForm?.controls['contactNumber']?.hasError('pattern')">Invalid Contact Number.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Alternate contact number</mat-label>
                        <input matInput
                               placeholder="Alternate contact number"
                               [(ngModel)]="orderDetails.alternateContactNumber"
                               name="alternateContactNumber">
                    </mat-form-field>

                    <div align="right">
                        <button type="button" mat-button  (click)="orderForm.reset();">Clear</button>
                        <button type="submit" mat-flat-button color="accent" [disabled]="orderForm?.invalid">Place Order</button>
                    </div>
                </form>

            </div>
            <div class="col-6">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr *ngFor="let foodItem of foodItemDetails">
                            <td>{{foodItem.foodItemName}}</td>
                            <td>{{foodItem.foodItemPrice}}</td>
                            <td>
                                <select 
                                #quantity
                                class="form-select"
                                [ngModel]="getQuantityForFoodItem(foodItem.foodItemId)"
                                (change)="onQuantityChanged(quantity.value, foodItem.foodItemId)"
                                >
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                {{getCalculatedTotal(foodItem.foodItemId, foodItem.foodItemPrice)}}
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td> {{getCalculatedGrandTotal()}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
