.foodItem-information {
    font-size: medium;
    border: 1px solid lightgray;
    padding: 10px;
    background-color: white;
}

.container{
    border: 1px solid lightgray;
    padding: 10px;
}

.image-container {
    height: 500px;
    position: relative;
}

.mt-5{
    background-color: white;
}

.foodItem-zoom-image {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}